#cardOne {
    float: left;
    padding-left: 60px;
    padding-right: 50px;
    width: 400px;
  }

  #cardTwo {
    float: left;
    padding-right: 50px;
    width: 400px;
  }

  #cardTwo {
    float: left;
    padding-right: 50px;
    width: 400px;
  }

  #feelings, #gratitude, #thoughts {
    width: 250px;
  }