@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  background-color: #fefbe9;
  background-repeat: no-repeat;
  background-size:cover;
  font-family: 'Open Sans', sans-serif;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #183a1d;
  border-right: none;
  padding: 5px;
  height: 36px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #183a1d;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #183a1d;
  background: #183a1d;
  text-align: center;
  color: white;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.header {
	width: 100%;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #183a1d;
  }

  #healthLabel{
    margin: 5px;
  }