* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

body{
    /* background-image: url("../../assets/images/chakras.png"); */
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-position: center;
    font-size: 1rem;    
    color: rgb(0, 0, 0);
    position:static;    
    background-size:auto;
}

html, body {
    width: 100%;
    height: 100%;
 }
 .post-wrap {
    width: 320px;
    height: 300px;
    perspective: 1000px;
 }
 .post {
    position: relative; /* Required to absolutely position the child faces */
    width: 100%;
    height: 100%;
    margin-top: 20px;
 }

 .post-front, .post-back {
    position: absolute;
    width: 100%;
    height: 100%;
    margin-top: 20px;
 }

 .post-back {
    transform: rotateY(180deg);
    /* background-color: white; */
    color: black;
 }

 .post-front, .post-back {
    /* Existing styles here */
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
 }

 .post-wrap:hover .post {
    transform: rotateY(180deg);
 }

 .post {
    /* Existing styles here */
    transition: transform 1s;
    transform-style: preserve-3d;   
 }

 .post-img {
    background-size: cover;
    background-position: center;
    height: 300px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
 }
 .post-info {
    padding: 20px 30px 30px;
 }
 .post-info span {
    font-size: 0.8rem;
    color: #808080;
 }
 .post-info h2{
    font-weight: bold;
    font-size: 1.2rem;
    padding-top: 5px;
 }

 	
.post-back {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* To push the read more button to bottom */
    align-items: flex-start; /* To position the read more button at the left */
 }
 .post-back h2{
    font-weight: bold;
    font-size: 1.2rem;
    padding-top: 5px;
 }
 .post-back p {
    margin-top: 10px;
    line-height: 1.6;
 }
 .post-back a{
    text-decoration: none;
    color: #ffffff;
    background-color: black;
    padding: 10px 14px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-size: 0.8em;
    font-weight: bold;
 }

 .container {
    max-width: 1200px;
    margin: auto;
    padding: 60px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Required to position the posts one below the other on smaller devices */
 }
 .post-wrap {
    /* Existing styles here */
    flex: 1;
    margin: 0 15px 30px;
 }

 .post-wrap {
    /* Existing styles here */
    min-width: 300px;
    max-width: 380px;
 }

.benefits{
    text-align: center;
}
 #post-img1{
     background-image: url("../../assets/images/stress.jpeg");
 }
 #post-img2{
    background-image: url("../../assets/images/anxiety.jpeg");
    background-size: 130%;
}

.practice{
   display: block;
   border-radius: 100px;
   -webkit-border-radius: 100px;
   -moz-border-radius: 100px; 
   width: 200px;
   height: 200px;
}

.progressBar{
   display: flex;
   align-items: center;
   justify-content: center;
}